.select-username {
    width: 300px;
    margin: auto;
    padding: 50px 0;
  }

  #groupHeader {
    background-color: #e5d6ff;
    margin: 0; padding: 0; position: absolute; right: 0; width: 75%;
    text-align: center;
  }
  body { 
    margin: 0; padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem; position: fixed;
    bottom: 0; right: 0; width: 75%; height: 3rem;
    display: flex; box-sizing: border-box; backdrop-filter: blur(10px); 
  }

  #input { 
    border: none; border-radius: 2rem;
    padding: 0 1rem; margin: 0.25rem; flex-grow: 1;
  }

  #input:focus { outline: none; }
  
  #form > button {
    background: #333; color: #fff; 
    padding: 0 1rem; margin: 0.25rem; 
    border: none; border-radius: 3px; outline: none;
  }

  table { 
    border: 1px solid;
    padding: 8px;
    width: 25%; 
    border-collapse: collapse;
    position: absolute;
    height: 100%;
   }

  td {
    border: 1px solid;
    padding: 10px;
   }

   tr:hover {
    background-color: #e5d6ff;
   }
  
   #messages { 
    overflow-x: hidden; overflow-y: auto; list-style-type: none;
    margin: 10; padding: 0; position: absolute; right: 0; width: 75%; height: 90%;
  }
    #messages > li {
      padding: 1rem 0.5rem; overflow-x: hidden; overflow-y: auto;
    }
    #messages > li:nth-child(odd) {
      font-weight: bold; padding: 0.5rem 0.5rem;
    }